<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

<bean class="com.Employee" id="emp1"></bean>
<bean class="com.Employee" id="emp2"></bean>
<bean class="com.Employee" id="emp3">
    <constructor-arg value="1"></constructor-arg>
    <constructor-arg value="Ravi"></constructor-arg>
    <constructor-arg value="12000"></constructor-arg>
</bean>
<bean class ="com.Employee" id="emp4">

<property name="name" value="Raju"></property>
<property name="salary" value="27000"></property>
</bean>
<bean class="com.Employee" id="emp5">
    <constructor-arg value="1"></constructor-arg>
    <constructor-arg value="giri"></constructor-arg>
    <constructor-arg value="120000"></constructor-arg>
</bean>
<bean class ="com.Address" id="add1">

<property name="city" value="anantapur"></property>
<property name="state" value="AP"></property>
</bean>
<bean class ="com.Address" id="add">

<property name="city" value="anantapuram"></property>
<property name="state" value="WG"></property>
</bean>
<bean class ="com.Employee" id="emp8" autowire="byName">

<property name="name" value="Raju"></property>
<property name="salary" value="27000"></property>

</bean>
</beans>
