<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Phase2SampleAssignmentProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrainerController</display-name>
    <servlet-name>TrainerController</servlet-name>
    <servlet-class>com.controller.TrainerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrainerController</servlet-name>
    <url-pattern>/TrainerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentContoller</display-name>
    <servlet-name>StudentContoller</servlet-name>
    <servlet-class>com.controller.StudentContoller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentContoller</servlet-name>
    <url-pattern>/StudentContoller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrainerDao</display-name>
    <servlet-name>TrainerDao</servlet-name>
    <servlet-class>com.dao.TrainerDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrainerDao</servlet-name>
    <url-pattern>/TrainerDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentDao</display-name>
    <servlet-name>StudentDao</servlet-name>
    <servlet-class>com.dao.StudentDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDao</servlet-name>
    <url-pattern>/StudentDao</url-pattern>
  </servlet-mapping>
</web-app>